<template name="Navigation">
    <img src="/images/massive.png" class="game-logo"/>
    <ul>
        <li><a href="/activity">Dashboard</a></li>
        <li><a href="/path/list">Stories <span class="count">{{paths}}</span></a></li>
        <li><a href="/media/list"> Media Library</a></li>
        <li><a href="mailto:support@massive.co.za"> Help & support</a></li>
        <li><a href="/logout"> Logout</a></li>
    </ul>



    <!--
    <li><a href="/path/list"><span class="fa fa-check"></span> Choices </a></li>
    <li><a href="/path/list"><span class="fa fa-html5"></span> Mixed </a></li>
    <li><a href="/path/list"><span class="fa fa-image"></span> Slideshow </a></li>
    <li><a href="/path/list"><span class="fa fa-gamepad"></span> No bounce </a></li>
    <h1>Learning</h1>
    <ul>


        <li><a href="/badge/list"><span class="fa fa-trophy"></span> Badges</a></li>
        <li><a href="/world/list"><span class="fa fa fa-map-o"></span> Worlds</a></li>


    </ul>

    <h1>Library</h1>
    <ul>
        <li><a href="/user/list"><span class="fa fa-user"></span> Profile</a></li>
        <li><a href="/world/list"><span class="fa fa fa-user-circle-o"></span> Clan</a></li>
        <li><a href="/attribute/list"><span class="fa fa-sliders"></span> Attributes</a></li>
        <li><a href="/massive/avatars"><span class="fa fa-id-badge"></span> Avatars</a></li>
        <li><a href="/massive/cameras"><span class="fa fa-video-camera"></span> Cameras</a></li>
        <li><a href="/massive/mia"><span class="fa fa-magic"></span> MIA Components</a></li>
        <li><a href="/massive/prefabs"><span class="fa fa-cubes"></span> Objects</a></li>
        <li><a href="/massive/roles"><span class="fa fa-gavel"></span> User Roles</a></li>
    </ul>
    <div class="footer">
        <a href="/profile" class="details"><strong>{{fullname}}</strong>, you are logged in as <strong>{{role}}</strong></a>
        <a href="/logout" class="name">Logout</a>
    </div>
    -->

</template>
